<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>App_Camara</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="takePicture()">Tomar Foto</ion-button>
      <ion-button (click)="galery()">Abrir Galeria</ion-button>
      <ion-img [src]="getimage()"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
